{% if records %}
<table border="1" cellpadding="5">
    <tr>
        {% for col in structure %}
            <th>{{ col }}</th>
        {% endfor %}
        <th> Operations </th>
    </tr>

    {% for record in records %}
        <tr>
            {% for col in structure %}
                <td>{{ record[col] }}</td>
            {% endfor %}
            <td>
                <button onclick="openUpdateRecordModal('{{ db_name }}', '{{ table_name }}', '{{ record[table.primary_key] }}')"> Update </button>
                <button onclick="deleteRecord('{{ db_name }}','{{ table_name }}','{{ record[table.primary_key] }}')">Delete</button>
            </td>
        </tr>
    {% endfor %}
</table>
{% else %}
<p>No records in this table.</p>
{% endif %}
<br>

